language: julia
sudo: required
dist: trusty
os:
  - linux
julia:
  - 0.6
  - nightly
matrix:
  fast_finish: true
  allow_failures:
    - julia: nightly
notifications:
  email: false
script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - git clone -b 'v0.0.2' --single-branch https://github.com/JuliaCI/PkgEvalHadoopEnv.git ./test/test_setup
  - ./test/test_setup/hadoop/setup_hdfs.sh
  - ./test/test_setup/hive/setup_hive.sh
  - julia --check-bounds=yes -e 'Pkg.clone(pwd()); Pkg.build("Hive"); Pkg.test("Hive"; coverage=true)'
after_success:
  - julia -e 'cd(Pkg.dir("Hive")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder());'
